
build/vs2015/*.sdf
build/vs2015/*.db
build/vs2015/*.opendb
build/vs2015/*.suo
build/vs2015/*.user

build/vs2015/.vs/
build/vs2015/Client/
build/vs2015/Common/
build/vs2015/GameLib/
build/vs2015/Server/
build/vs2015/Debug/
build/vs2015/Release/

Release/
distribution/