
build/*.sdf
build/*.db
build/*.opendb
build/*.suo
build/*.user

build/Client/*.sdf
build/Client/*.db
build/Client/*.opendb
build/Client/*.suo
build/Client/*.user

build/Client/.vs/
build/Client/Client/
build/Client/Server/
build/Client/Common/
build/Client/GameLib/

build/.vs/
build/[Dd]ebug
build/[Rr]elease

Release/